.Wrapper {
  height: 100%;
  // &--chat-list {
  //   height: 100%;
  //   width: 300px;
  //   float: left;
  //   color: $fontWhiteColor;
  //   font-weight: bold;
  //   &-header {
  //     padding: 0 20px;
  //     background-color: #253141;
  //     @include font-size(16px);
  //     height: 100px;
  //     line-height: 100px;
  //     &--header-box {
  //       width: 100%;
  //       &__name {
  //         float: left;
  //       }
  //       &__menu {
  //         float: right;
  //         &-new-group {
  //           float: left;
  //           margin-left: 5px;
  //           .fa-edit {
  //             color: $fontWhiteColor;
  //           }
  //         }
  //         &-edit-account {
  //           float: left;
  //           margin-left: 5px;
  //           .fa-cog {
  //             color: $fontWhiteColor;
  //           }
  //         }
  //       }
  //     }
  //   }
  //   &-groups {
  //     height: calc(100vh - 100px);
  //     background-color: #2f3e51;
  //     padding: 20px 20px 0 20px; 
  //     &__group {
  //       box-sizing: border-box;
  //       &-name {
  //         @include font-size(15px);
  //         padding-bottom: 5px;
  //         color: $fontWhiteColor;
  //       }       
  //       &-message {
  //         @include font-size(11px);
  //         padding-bottom: 40px;
  //         color: $fontWhiteColor;
  //       }
  //     }
  //   }
  // }

  &--chat-contents {
    height: 100%;
    width: calc(100vw - 300px);
    float: left;
    &--title {
      height: 100px;
      padding: 0 40px;
      border-bottom: 1px solid #eeeeee;
      &-text-box {
        float: left;
        &__name {
          @include font-size(20px);
          color: #333333;
          padding-top: 35px;
        }
        &__members {
          @include font-size(12px);
          color: #999999;
          display: flex;
          margin-top: 15px;
          .member {
            display: inline-block;
            padding-right: 5px;
          }
        }
      }
      &-text-box__edit-btn {
        height: 40px;
        line-height: 40px;
        padding: 0 20px;
        margin-top: 28px;
        border: solid 1px $light_blue;
        float: right;
        right: 40px;
        &-none {
          color: $light_blue;
        }
      }
    }
    &--main {
      height: calc(100vh - 190px);
      padding: 46px 40px;
      background-color: #fafafa;
      &-message {
        padding-bottom: 40px;
        &__info {
          display: flex;
          margin-bottom: 10px;
          &-user-name {
            color: #434a54;
            @include font-size(16px);
            font-weight: bold;
          }
          &-date {
            color: #999999;
            @include font-size(12px);
            margin-left: 10px;
          }
        }
        &__text {
          color: #434a54;
          @include font-size(14px);
        }
      }
    }
    &--form {
      height: 90px;
      padding: 20px 40px;
      background-color: #ddd;
      &-new-message {
        &__input-box {
          width: 100%;
          display: flex;
          position: relative;
          &-text {
            height: 50px;
            width: 100%;
            padding: 0 40px 0 10px;
            @include font-size(16px);
            color: #434a54;
          }
          &-image {
            font-size: 1.5rem;
            position: absolute;
            top: 10px;
            right: 120px;
            cursor: pointer;
            &__fa {
              display: inline-block;
              font: normal normal normal 14px/1 FontAwesome;
              font-size: inherit;
              text-rendering: auto;
              -webkit-font-smoothing: antialiased;
              -moz-osx-font-smoothing: grayscale;
              transform: translate(0, 0);
            }
            &__file {
              display: none;
            }
          }
          &-submit-btn {
            height: 50px;
            width: 100px;
            margin-left: 15px;
            background-color: $light_blue;
            color: $white;
            cursor: pointer;   
          }
        }
      }
    }
  }
}