.Wrapper {
  height: 100%;
  
  &--chat-contents {
    height: 100%;
    width: calc(100vw - 300px);
    float: left;
    &--title {
      height: 100px;
      padding: 0 40px;
      border-bottom: 1px solid #eeeeee;
      &-text-box {
        float: left;
        &__name {
          @include font-size(20px);
          color: #333333;
          padding-top: 35px;
        }
        &__members {
          @include font-size(12px);
          color: #999999;
          display: flex;
          margin-top: 15px;
          .member {
            display: inline-block;
            padding-right: 5px;
          }
        }
      }
      &-text-box__edit-btn {
        height: 40px;
        line-height: 40px;
        padding: 0 20px;
        margin-top: 28px;
        border: solid 1px $light_blue;
        float: right;
        right: 40px;
        &-none {
          color: $light_blue;
        }
      }
    }
    &--main {
      height: calc(100vh - 190px);
      padding: 46px 40px;
      background-color: #fafafa;
      overflow-y: scroll;
      &-message {
        padding-bottom: 40px;
        &__info {
          display: flex;
          margin-bottom: 10px;
          &-user-name {
            color: #434a54;
            @include font-size(16px);
            font-weight: bold;
          }
          &-date {
            color: #999999;
            @include font-size(12px);
            margin-left: 10px;
          }
        }
        &__text {
          .lower-message {
            margin-top: 10px;
            &__content {
              color: #434a54;
              @include font-size(14px);
              margin-bottom: 40px;
            }
          }
        }
      }
    }
    .form {
      background-color: #DDDDDD;
      box-sizing: border-box;
      height: 90px;
      padding: 20px 50px 20px 40px;
      &__message {
        border: none;
        float: left;
        height: 50px;
        width: calc(100% - 150px);
      }
      &__mask {
        background-color: $white;
        float: left;
        height: 50px;
        padding-right: 10px;
        &__image {
          font-size: 20px;
          line-height: 50px;
        }
        .hidden {
          display: none;
        }
      }
      &__submit {
        background-color: $light_blue;
        border: none;
        color: $white;
        float: right;
        font-size: 16px;
        height: 50px;
        margin-left: 15px;
        padding: 0 30px;
      }
    }
  }
}